.card-singole img {
    margin: 40px 0 0 0;
    width: 100%;
}

.box-singolo {

    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.title-singole {
    color: white;
    font-size: 14px;
    //margin-top: 10px;
    margin-bottom: 0rem;
    padding: 10px 0;
}