.logo img{
    width: 40%;
}

.navbar {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    
}

.li-nav:hover{
    border-bottom: 4px solid rgba(2, 130, 249, 255);
    
}

.li-nav{

    border-bottom: 4px solid white;
    
}

.icon img {
    width: 3%;
    margin: 0 3px ;
  }